* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
body {
  background: url("../img/order_bg.png");
}

.container {
  max-width: 1180px;
  margin: 50px auto;
}

.form {
  width: 1180px;
  height: 539px;
  padding: 20px 99px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 5px;
}
.form__logo {
  display: flex;
  color: #FED84C;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 50px;
}
.form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form__title-h2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 34px;
}
.form__title-p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 19px;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form__input-i {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  width: 360px;
  height: 75px;
  border: 0;
  background: #ededed;
  padding-left: 56px;
  border-radius: 8px;
}
.form__input-i::-moz-placeholder {
  padding: 30px 180px 27px 0px;
}
.form__input-i::placeholder {
  padding: 30px 180px 27px 0px;
}
.form__input-btn {
  height: 80px;
  border: 0;
  border-radius: 8px;
  background: #FED84C;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 400;
}
.form__input-btn:hover {
  cursor: pointer;
}